;; shadow-cljs configuration
{:deps   {:aliases [:dev]}
 :nrepl  {:port 9845}

 :builds {:workspaces {:target           :browser
                       :output-dir       "resources/public/js/workspaces"
                       :asset-path       "/js/workspaces"
                       :compiler-options {:closure-output-charset "US-ASCII"}
                       :devtools         {:preloads           [devtools.preload fulcro.inspect.preload]
                                          :before-load        nubank.workspaces.core/before-load
                                          :after-load         nubank.workspaces.core/after-load
                                          :http-root          "resources/public"
                                          :http-port          3689
                                          :http-resource-root "."}
                       :modules          {:main {:entries [nubank.workspaces.workspaces.main]}}}

          :ci         {:target    :karma
                       :ns-regexp "-ws$"
                       :output-to "target/ci.js"}}}
